<div class="container">
	<h2 class="auth-title">
		Se connecter.
	</h2>
	<div class="container">
    <p title="En vous connectant, vous pourrez ajouter de nouveaux livres, écrire des commentaires...">
    	Vous devez être connecté pour bénéficier de toutes les fonctionnalités du site.
    </p>
    <p>Si vous n'avez pas encore de profil, vous pouvez en 
    	<a (click)="goToSignup()">
    		<strong><u>créer un</u></strong>
    	</a>
    </p>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
    	<div class="form-class email">
				<label class="label">
					E-Mail
				</label>
				<input 
					type="email" 
					id="email" 
					placeholder="E-Mail" 
					class="form-input" 
					formControlName="email" 
					required
				>
				<span *ngIf="controls.email?.touched && (controls.email?.hasError('required') || controls.email?.invalid)">
					Email requis.
				</span>
			</div>
			<div class="form-class password">
				<label class="label">
				Mot de passe
				</label>
				<input 
					type="password" 
					id="password" 
					placeholder="Mot de passe" 
					class="form-input" 
					formControlName="password" 
					required
				>
				<input 
				type="checkbox"
				class="reveal-password" 
				(click)="revealPassword()"
				>Montrer le mot de passe
				<span *ngIf="controls.password?.touched && (controls.password?.hasError('required') || controls.password?.invalid)">
					Mot de passe requis (10 caractères minimum).
				</span>
			</div>
			<div class="form-class submit">
				<button [disabled]="!loginForm.valid" type="submit" class="submit">
					💻 Se Connecter
				</button>
				<a (click)="goToResetPassword()">
					<p class="forgotten-password">
						(Mot de passe oublié ? Clique ici)
					</p>
				</a>
			</div>
    </form>
  </div>
</div>