<div>
    <form [formGroup]="pwdResetForm">
        <div class="form-class password">
            <label>
                Nouveau mot de passe
            </label>
            <input
            type="password"
            id="password"
            placeholder="Mot de passe"
            class="form-input"
            formControlName="password" 
            autofocus
            required
            >
            <span *ngIf="controls.password?.touched && controls.password?.hasError('required')" class="errors">
                Mot de Passe requis (minimum 10 caractères).
            </span>
        </div>
        <div class="form-class confirm">
            <label class="label">
            Confirmer le nouveau mot de passe
            </label>
            <input
            type="password"
            id="confirm"
            placeholder="Mot de passe"
            class="form-input"
            formControlName="confirmPassword" 
            required
            >
            <span *ngIf="controls.confirmPassword?.touched && checkPasswords">
                Les mots de passe ne sont pas identiques.           
            </span>
        </div>
        <div>
            <input 
            type="checkbox" 
            class="reveal-password" 
            (click)="revealPassword()"
            >Montrer le mot de passe
        </div>
    </form>
</div>